form {
    display: flex;
    flex-direction: column;
    label {
        font-weight: bold;
        display: flex;
        flex-direction: column;
    }
    input[type="text"],
    input[type="email"],
    textarea {
        width: 50%;
        resize: none;
    }
    button {
        width: 10em;
    }
}
