.podcast-player-container {
  background-color: #fafafa;
  padding-top: 6em;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    font-size: 5em;
    margin-bottom: 10px;
    margin-top: 0;
  }
  p {
    margin-bottom: 70px;
    margin-top: 0;
  }
}

.podcast-player {
  max-width: 800px;
  min-width: 20em;
  margin: auto;
  border-radius: 0.5em;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  ul {
    margin: auto;
  }
  li {
    border-bottom: 1px solid #333;
    margin-bottom: 1em;
    &:nth-last-of-type(1) {
      border-bottom: none;
    }
  }
  h3 {
    margin-top: 0.5em;
  }
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  // background-color: #f9484a;
  // background: -webkit-linear-gradient(to right, #f9484a, #fbd72b); /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(315deg, #f9484a 0%, #66fb2b 74%);
  // background: linear-gradient(315deg, #f9484a 0%, #fbd72b 74%);
  background: #f0f3f4;
  padding: 1em;
}

.episode-listing {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 70%;
}

.now-playing {
  color: white;
  h2 {
    font-size: 3em;
    margin-left: 2em;
  }
  .now-playing-content {
    padding: 1em;
    display: flex;
    background: #43cea2; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #185a9d, #43cea2); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, royalblue, #43cea2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    // background: -webkit-linear-gradient(to right, #185a9d, #43cea2); /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to right, #185a9d, #43cea2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    // background-color: #f9484a;
    // background: -webkit-linear-gradient(to right, #fbd72b, #f9484a); /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(315deg, #fbd72b 0%, red 74%);
    border-top-left-radius: 0.4em;
    border-top-right-radius: 0.4em;
  }
  .now-playing-text {
    background: rgba(0, 0, 0, 0.267);
    width: 23em;
    padding: 2em;
    margin-left: 2em;
    border-radius: 0.5em;
    font-size: 1.3em;
  }
}

.episodes-list {
  height: 30em;
  overflow-y: scroll;
}

.play-button {
  cursor: pointer;
  margin: 2em;
  color: dodgerblue;
  font-size: 1.5em;
}

.podcast-date {
  color: #6a6a6a;
  font-style: italic;
}

.podcast-logo {
  width: 9em;
  height: 9em;
  margin-right: 2em;
}

.podcast-hosts {
  display: flex;
  justify-content: space-around;
  width: 800px;
  padding-bottom: 5em;
}

.podcast-host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.podcast-host[tooltip] {
  position: relative;
}

.podcast-host[tooltip]::before {
  content: attr(tooltip);
  position: absolute;
  // margin-top: 20px;
  bottom: 0;
  background: #555;
  color: white;
  font-size: 1em;
  white-space: nowrap;
  z-index: 100;
  padding: 0.3em;
  border-radius: 0.5em;
  transform: scale(0);
  transition: transform ease-out 150ms, bottom ease-out 150ms;
}
.podcast-host[tooltip]:hover::before {
  transform: scale(1) translateY(35px);
}
